<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Employee Satisfaction Calculator</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="../static/form.css" >
    </head>
    <body >
        <div class="container">
            <div class="imagebg"></div>
            <div class="row " style="margin-top: 50px">
                <div class="col-md-6 col-md-offset-3 form-container">
                    <h2>Employee Satisfaction Calculator</h2> 
                    <p> Please provide your feedback below: </p><br><br>
                    <form role="form" method="post" id="reused_form" action="Form">
                    	<h3>Section 1 - Extrinsic Rewards</h3>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>In general, I am satisfied with my compensation package.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>In general, I am satisfied with the additional benefits, including insurance and bonuses.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div><br><br><br>
                        <h3>Section 2 - Supervisory Support</h3>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>My administrator can be relied upon when I have job-related problems.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>My administrator is available to listen to job-related problems.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>It is easy to talk to my supervisor when I need help.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>I am satisfied with the overall support from my supervisor.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div><br><br><br>
                        <h3>Section 3 - Reward Fairness</h3>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>Employees are held accountable for their performances with fair performance reviews and treatments.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>I am compensated fairly for the work I do.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div><br><br><br>
                        <h3>Section 4 - Autonomy</h3>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>I can control the scheduling of my work.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>I have significant flexibility in how I do my job.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>I have considerable opportunity for growth and improvement.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div><br><br><br>
                        <h3>Section 5 - Corporate Image</h3>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>I am proud to work for my company.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>I relate to the values of the company.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div><br><br><br>
                        <h3>Section 6 - Affinity</h3>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>When things get tough at work, I can rely on colleagues for assistance.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>It’s easy to talk to colleagues when I need help.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>Colleagues are always willing to listen to job-related problems.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div><br><br><br>
                        <h3>Section 7 - Development</h3>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>I am satisfied with the promotion or career advancement opportunities available.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>The company provides a suitable learning environment to help employees grow.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>The company helps employees grow as well as develop their potential.</label>
                                <p>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="1" >
                                        Strongly Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="2" >
                                        Disagree 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="3" >
                                        Neutral
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="4" >
                                        Agree
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="experience" id="radio_experience" value="5" >
                                        Strongly Agree
                                    </label>
                                </p>
                            </div>
                        </div><br><br><br>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="comments"> Anything we missed and should know about</label>
                                <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments" maxlength="6000" rows="7"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="name"> Your Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="email"> Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="eid"> Employee ID:</label>
                                <input type="text" class="form-control" id="eid" name="eid" required>
                            </div>
                        </div>
                        {% if post == True %}
                            <p id="demo" style="color:green">Registered Successfully! </p>
                        {% elif post == False %}
                            <p id="demo1" style="color:red">Error Occured, Try Again!</p>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <input type="submit" value="Post" name="login_btn" id="login_btn" class="btn btn-lg btn-warning btn-block">
                                <!--<button type="submit" class="btn btn-lg btn-warning btn-block" >Post </button>-->
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>