<!DOCTYPE html>
<html lang="en">
<head>


  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    #collapse1{
    overflow-y:scroll;
    height:400px;
    }
</style>
<div class="container">
  <h2>Employee List</h2>
  <div class="panel-group">
    <div class="panel panel-default">

      <div id="collapse1">
        <table class="table">
            <thead>
              <tr>
                <th>Employee Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Churn</th>
              </tr>
            </thead>
            <tbody >
            {% if users!=False%}
                {% for i in range(0,(users|length)|int)%}
                  <tr>
                    <td>{{users[i][0]}}</td>
                    <td>{{users[i][1]}}</td>
                    <td>{{users[i][2]}}</td>
                  </tr>
                {% endfor %}
            {%endif%}
            {% if users==False %}
                <h3 style="color:red" align="center">Sorry No such Users!!!</h3>
            {%endif%}

            </tbody>
  </table>
      </div>
    </div>
  </div>
</div>

</body>
</html>
