<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Flask-GoogleCharts Example</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {{ charts_init }}
    <style>
        body{
        background:white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top bg-dark navbar-dark navbar-expand-md">
    <a class="navbar-brand" href="home" style="color:red;">HR Dashboard</a>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="EmployeeSatisfaction.html"><span class="glyphicon glyphicon-user"></span>Employee Form</a></li>
        </ul>
    </div>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</nav>
<h1>HR Dashboard</h1>
<div class="container-fluid">
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 my-auto">
        <h2>Bar Chart</h2>
        {{ charts.hot_dogs }}
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 my-auto">
        <h2>Pie Chart</h2>
        {{charts.pie_chart}}
    </div>
</div>
<h3 align="center">Predicted</h3>
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 my-auto">
        <h2>Pie Chart</h2>
        {{charts.pie_chart1}}
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 my-auto">
        <h2>Bar Chart</h2>
        {{ charts.hot_dogs1 }}

    </div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 my-auto">
        <h2>Satisfaction Chart</h2>
        {{charts.satisfaction_chart1}}
    </div>

</div>
    <div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 my-auto">
        {{charts.sal_chart}}
    </div>
    </div>
<div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 my-auto">
        <h2>Promotion chart</h2>
        {{charts.prom_chart}}
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12 my-auto">
        {{charts.dep_chart}}
    </div>

</div>
</div>
</body>
</html>